* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 25%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
    width: 150px;
    height: 150px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-evenly;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    border-bottom: 2px solid rgb(122, 31, 31);
    padding-bottom: 25px;
}

.search-bar {
    display: flex;
    width: 30%;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    align-items: center;
}

.search-bar:hover {
    filter: drop-shadow(0px 0px 8px rgb(68, 68, 194));
}

.search_icon i {
    padding: 5px;
}

.search-bar input {
    border: none;
    width: 80%;
    font-size: 16px;
    padding: 5px;
    margin-left: 5px;
}

.search-bar input:focus {
    outline: none;
}

.login {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(237, 229, 233);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 8px rgba(197, 69, 202, 0.829));
}

.login a {
    text-decoration: none;
    color: black;
}

.alert {
    background-color: rgb(243, 237, 244);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.alert:hover {
    background-color: rgb(86, 19, 89);
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 8px rgba(223, 31, 198, 0.734));
}

.alert a {
    text-decoration: none;
    color: black;
}

.lang {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(240, 231, 231);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.lang:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 8px rgba(180, 14, 158, 0.84));
}

.lang a {
    text-decoration: none;
    color: black;
}